/* typography.css */

:root {
    --base-font-family: 'Work Sans', Arial,sans-serif;
    --header-font-family: 'Work Sans', Arial,sans-serif;
    --base-line-height: 1.55;
    --base-font-percent: 62.5%;
    --base-font-size: 16px, 1rem;
    /* specific */
    --base-font-weight: 400;
    --button-font-weight: 500;
    --link-font-weight: 600;
    --heading-font-weight: 900;
    /*  */
    /* Light 300 */
    /* Regular 400 */
    /* Medium 500 */
    /* Semi-bold 600 */
    /* Bold 700 */
    /* ExtraBold 800 */
    /* Black 900 */
    --light-font-weight: 300;
    --reg-font-weight: 400;
    --med-font-weight: 500;
    --semi-font-weight: 600;
    --bold-font-weight: 700;
    --extra-font-weight: 800;
    --black-font-weight: 900;

    /*  */
    --font-size-base: 1rem;
    --font-size-xs: 0.6rem;
    --font-size-sm: 0.8rem;
    --font-size-md: 1.25rem;
    --font-size-lg: 1.4rem;
    --font-size-lg: clamp(1.125rem, 1.0414rem + 0.3822vw, 1.5rem);
    --font-size-xl: 2.2rem;
    --font-size-xxl: 2.4rem;
    --font-size-xxxl: clamp(1.5rem, 0.2308rem + 2.3077vw, 3rem);
    --font-size-sxl: clamp(1.5rem, 0.2308rem + 2.3077vw, 3rem);
    /* 3rem; */
    --font-size-jumbo: 7.2rem;
    --font-size-jumbo-sm: 4.2rem;
    /*  */
    --font-awesome: 'FontAwesome';
    /*  */
    --intro-size: 28px;
    /* --intro-size: clamp(1.125rem, 0.9857rem + 0.6369vw, 1.75rem); */
    --large-size: 18px;
    --normal-size: 16px;
    --small-size: 14px;
    --micro-size: 12px;

    /* non-standard */
    --heading-size-sm: 1.25;
    --about-size: 36px;
}

@media screen and (max-width: 880px){
    :root {
        --font-size-xxxl: 22px;
        --intro-size: clamp(1.125rem, 0.9857rem + 0.6369vw, 1.75rem);
    }
}

* {
    font-family: "Work Sans", sans-serif;
}

::-moz-selection { /* Code for Firefox */
    color: var(--color-white);
    background: var(--default);
  }
  
::selection {
    color: var(--color-white);
    background: var(--default);
}


html {font-size: 100%;} /* 16px */

body {
    font-family: var(--base-font-family);
    font-weight: 400;
    font-weight: var(--base-font-weight);
    line-height: 1.55;
    line-height: var(--base-line-height);
	font-style: normal;
    color: var(--blue-dark);
}

.normal { font-size: var(--font-size-base); }
.micro { font-size: var(--font-size-xs); }
.small, small { font-size: var(--font-size-sm); }
.medium { font-size: var(--font-size-md); }
.large { font-size: var(--font-size-lg) ; }
.xlarge { font-size: var(--font-size-xl) ; }

[class*="_light"] { font-weight: var(--light-font-weight);}
[class*="_reg"] { font-weight: var( --reg-font-weight);}
[class*="_med"] { font-weight: var(--med-font-weight);}
[class*="_semi"] { font-weight: var(--semi-font-weight);}
[class*="_bold"] { font-weight: var(--bold-font-weight);}
[class*="_extra"] { font-weight: var(--extra-font-weight);}
[class*="_black"] { font-weight: var(--black-font-weight);}

.scaling_text {
    font-size: max(1rem,min(.38835vw + .908981rem,1.375rem));
}

/* headings */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font-family);
    font-weight: 900;
    font-weight: var(--heading-font-weight);
    line-height: 1.2;
    margin: 0 0 1.5rem 0;
    color: var(--color-primary);
}

.site-title h1 {
    margin-bottom: 0;
}

h1.hero-headline {
    font-size: calc(14vw - 40px);
    font-size: clamp(5.9375rem, -1.2019rem + 12.9808vw, 14.375rem);
            /* 1920/235 */
    color: var(--default);
    font-weight: 900;
    line-height: .8;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
.green h1.hero-headline {
    color: #22DF7E;
}
.orange h1.hero-headline {
    /* color: #22DF7E; */
}

@media screen and (max-width: 880px) {
    h1.hero-headline {
        font-size: clamp(2.25rem, -0.2264rem + 11.3208vw, 6rem);
        /* 350/880 : 36 / 96 */
    }
}


/* paragraphs */

p {
    margin: 0 0 1.5rem 0;
}

.intro, .intro-light {
    font-size: var(--intro-size);
}
.intro {
    margin-bottom: 2rem;
    font-weight: var(--med-font-weight);
}
.intro-light {
    /* margin-bottom: 0; */
    font-weight: var(--light-font-weight);
}
.intro-light:last-of-type {
    margin-bottom: 0;
}

.hero .intro, 
.hero .intro-light {
    max-width: 75ch;
}

.left-column [class*="-heading"],
.about-heading, 
.how-heading, 
.team-heading, 
.clients-heading, 
.contact-heading {
    font-size: var(--font-size-md);
    text-transform: uppercase;    
}

[class*="-copy_mlg"],
.teams-copy_mlg {
    font-size: var(--font-size-lg);
} 


[class*="-copy_lg"],
.about-copy_lg, 
.how-copy_lg, 
.team-copy_lg, 
.clients-copy_lg, 
.contact-copy_lg {
    font-size: var(--font-size-xxxl);
}

[class*="-item"] h3 {
    /* font-size: 1.875rem;
    font-weight: 500;
    letter-spacing: -0.02em;
    margin-bottom: 0; */
}
[class*="-item"] p {
    /* font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-bottom: 0; */
}
[class*="-item"] a {
    /* font-size: 1.0rem;
    font-weight: 600;
    color: var(--color-primary);
    text-decoration: none;
    text-transform: uppercase; */
    /* margin-bottom: var(--gap-sm); */
}
[class*="-item"] a:hover {
    /* color: var(--color-primary-dark); */
}

/* [class*="-copy_lg"]._light { font-weight: var(--light-font-weight);} */

/* 
[class*="_light"] { font-size: var(--light-font-weight);}
[class*="_reg"] { font-size: var( --reg-font-weight);}
[class*="_med"] { font-size: var(--med-font-weight);}
[class*="_semi"] { font-size: var(--semi-font-weight);}
[class*="_bold"] { font-size: var(--bold-font-weight);}
[class*="_extra"] { font-size: var(--extra-font-weight);}
[class*="_black"] { font-size: var(--black-font-weight);} */

/* privacy */

h4.desc-copy_mlg {
    margin-top: 2rem;
}

.privacy main a {}

[class*="desc-copy"] a {
    color: var(--color-black);
}


[class*="desc-copy"] a:hover {
    text-decoration: none;
}

